{{ require_css(get_asset_url('module.css')) }}
<style>
  @media only screen and (max-width : 1199px) {
  .mobile-hide {
  display :none;
  }
    
  }
  .main-footer-section .itt-footer-social-links ul li a:hover path {
	fill: #211e1e;
}

</style>  
<section class="main-footer-section global-footer">
    <div class="container">
      <!-- 1 row -->
      <div class="row footer-listing-row ">
        <div class="col-lg-6 col-12">
          <div class="itt-footer-info">
            <div class="itt-footer-logo">
          {% if module.footer_logo.src %}
            {% set sizeAttrs = 'width="{{ module.footer_logo.width|escape_attr }}" height="{{ module.footer_logo.height|escape_attr }}"' %}
            {% if module.footer_logo.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ module.footer_logo.width|escape_attr }}" height="{{ module.footer_logo.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% elif module.footer_logo.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ module.footer_logo.max_width|escape_attr }}" height="{{ module.footer_logo.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
             {% set loadingAttr = module.footer_logo.loading != 'disabled' ? 'loading="{{ module.footer_logo.loading|escape_attr }}"' : '' %}
            <img src="{{ module.footer_logo.src|escape_url }}" alt="{{ module.footer_logo.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
            </div>
            <div class="itt-footer-para">
              <div class="footer-text-p">
                {{ module.after_logo_text }}
              </div>
            </div>
          </div>
          <div class="bottom-sub-link">
            <ul class="link-list">
              {% for item in module.privacy_navigation %}
              <li>
            {% set href = item.link_to.url.href %}
            {% if item.link_to.url.type is equalto "EMAIL_ADDRESS" %}
              {% set href = "mailto:" + href %}
            {% endif %}
            <a href="{{ href|escape_url }}"
              {% if item.link_to.open_in_new_tab %}target="_blank"{% endif %}
              {% if item.link_to.rel %}rel="{{ item.link_to.rel|escape_attr }}"{% endif %}
              > {{ item.menu_item_name }}  
            </a>
                </li> 
          {% endfor %}
              
             
            </ul>
          </div>
          <div class="itt-footer-awards">
            {% if module.award_image.src %}
                {% set sizeAttrs = 'width="{{ module.award_image.width|escape_attr }}" height="{{ module.award_image.height|escape_attr }}"' %}
                {% if module.award_image.size_type == 'auto' %}
                  {% set sizeAttrs = 'width="{{ module.award_image.width|escape_attr }}" height="{{ module.award_image.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% elif module.award_image.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="{{ module.award_image.max_width|escape_attr }}" height="{{ module.award_image.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                 {% set loadingAttr = module.award_image.loading != 'disabled' ? 'loading="{{ module.award_image.loading|escape_attr }}"' : '' %}
                <img src="{{ module.award_image.src|escape_url }}" alt="{{ module.award_image.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endif %} 
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="itt-footer-products">
            <h5 class="footer-products-title">{{ module.our_products.title }}</h5>
            <ul class="footer-products-list"> 
              {% for item in module.our_products.add_product %}
              <li>
                 {% set href = item.link_to.url.href %}
                {% if item.link_to.url.type is equalto "EMAIL_ADDRESS" %}
                  {% set href = "mailto:" + href %}
                {% endif %}
                <a href="{{ href|escape_url }}"
                  {% if item.link_to.open_in_new_tab %}target="_blank"{% endif %}
                  {% if item.link_to.rel %}rel="{{ item.link_to.rel|escape_attr }}"{% endif %}
                  >
                 {% if item.image_field.src %}
                  {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
                  {% if item.image_field.size_type == 'auto' %}
                    {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                  {% elif item.image_field.size_type == 'auto_custom_max' %}
                    {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
                  {% endif %}
                   {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
                  <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
                {% endif %}
                </a
                >
              </li>
             
              {% endfor %} 
              
            </ul>
          </div>

        </div>
      </div>

      <!-- 3 row -->
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="itt-footer-social-links">
             <ul>
            {% for item in module.social_media %}
               <li>
                 {% set href = item.link_to.url.href %}
              {% if item.link_to.url.type is equalto "EMAIL_ADDRESS" %}
                {% set href = "mailto:" + href %}
              {% endif %}
              <a href="{{ href|escape_url }}" aria-label="{% if loop.index==1 %} LinkedIn {% elif loop.index==2 %}Instagram {% elif loop.index==3 %}
                                                          Facebook {% elif loop.index==4 %} Youtube {% else %} Social Media Link {{Loop.index}} {% endif %}"
                {% if item.link_to.open_in_new_tab %}target="_blank"{% endif %}
                {% if item.link_to.rel %}rel="{{ item.link_to.rel|escape_attr }}"{% endif %}
                >
                 {{ item.icon_code }}
                 </a>
              </li>           
            {% endfor %}
            
           
              

            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="itt-footer-copyright-text">
            {{ module.copyright_text }}
          </div>
        </div>
      </div>
    </div>
  </section>