{% require_css %}
<style>
         {% scope_css %}
      .itt-reviews .main .itt-desc{
        font-family: {{ module.style.styling.font_field.font }};
        {{ module.style.styling.font_field.style }};
        color: {{ module.style.styling.font_field.color }};
        font-size: {{ module.style.styling.font_field.size }}px;
        {{ module.style.styling.field_group_1.spacing_field.css }}
      }
     .itt-reviews .main h4 { 
	font-family: Montserrat,sans-serif;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	color: #211e1e;
	font-size: 18px;
}
    .itt-reviews .main h2 { 
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
	color: #211e1e;
	font-size: 20px;
}
    .itt-reviews .main h5 { 
	font-style: normal;
	font-weight: 700;
	text-decoration: none;
	color: #211e1e;
	font-size: px;
}

        .itt-reviews .inner {
        box-shadow: 0 0 8px 0 rgba(205,202,202,1);
        padding: 40px;
        border-radius: 22px;
        background: #fff;
    }
   
  .swiper-slide {
	min-height: 484px;
	display: flex;
	justify-content: center;
	align-items: center;
}
    .itt-reviews .main .itt-desc{
      text-transform: none;
    }
    .itt-reviews .main .itt-desc p {
    font-size: 12px;
    }
    .itt-reviews .slick-track{
      display: flex;
      align-items: center;
      padding: 10px 0;
      min-height: 510px;
    }
    .itt-reviews .inner{
      transition:all 300ms ease;
      bottom: 0;
      transform:scale(0.9);
    }

    .itt-reviews .main h4{
      margin: 0 0 5px;
    }
    .itt-reviews .main h5{
      margin: 0 0 10px;
    }
    .itt-reviews .main h2{
      margin: 0;
    }
   @media (min-width: 768px) {
      .itt-reviews .swiper-slide.swiper-slide-next .inner{
      transform:scale(1.0);
      color:#e67e22;
    }
    .itt-reviews .swiper-slide.swiper-slide-next .itt-desc{
      font-size: 16px;
    }
    .itt-reviews .swiper-slide.swiper-slide-next .itt-desc p{
      font-size: 16px;
    }
    .itt-reviews   .swiper-slide.swiper-slide-next h4{
      font-family: "Montserrat", sans-serif;
      font-size: 19px;
    }
    .itt-reviews .swiper-slide.swiper-slide-next h5{
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
    }
    .itt-reviews .swiper-slide.swiper-slide-next h2{
      font-family: "Montserrat", sans-serif;
      font-size: 28px;
      color: #f47e20;
    }
    .itt-reviews .swiper-slide.swiper-slide-next .inner{
    color: #211E1E !important;
  }
  }
    .slick-prev.slick-arrow {
      background: url({{ module_asset_url("Arrow%20left.png") }}) no-repeat;
      left: 0;
      background-position: left;
    }
    .slick-next.slick-arrow {
      background: url({{ module_asset_url("Arrow%20left-1.png") }}) no-repeat;
      right: 0;
      background-position: right;
    }
    .slick-prev.slick-arrow,
    .slick-next.slick-arrow{
      border: none;
      font-size: 0;
      height: 70px;
      position: absolute;
      top: 45%;
      transform: translateY(-45%);
      z-index: 999;
    }
    .slick-dots button {
      display: none;
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }
    .slick-dots li {
      position: relative;
      font-size: 0;
      width: 20px;
    }
    .slick-dots li:before {
      position: absolute;
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 80px;
      background: #D1CBCB;
    }
    .slick-dots li.slick-active:before {
      width: 38px;
      background: #f47e20;
      z-index: 9999;
    }
    .slick-dots li.slick-active {
      background: #f47e20;
      width: 38px;
      margin-right: 8px;
    }
    .itt-reviews .slick-list{
      width: 91%;
      margin: auto;
    }
    .itt-reviews {
      position: relative;
    }
    .left-quote {
      position: absolute;
      top: -0.8%;
      left: 33.6%;
    }
    .right-quote {
      position: absolute;
      bottom: 11%;
      right: 33%;
    }
    .itt-reviews .slick-list {
        overflow: hidden!important;
    }
  
  .main .swiper{
	padding: 20px 70px;
    max-width: 100%;
}
  .swiper-slide:not(.swiper-slide.swiper-slide-next):not(.swiper-slide.swiper-slide-active):not(.swiper-slide.swiper-slide-next + .swiper-slide) {
	opacity: 0;
}
   
  .swiper-wrapper {
	align-items: center;
}
  .left-quote, .right-quote {
	z-index: 1;
}
  .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	display: inline-block; 
	background: #D1CBCB;
    border-radius: 80px;
	opacity: 1;
}
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 38px;
	background: #f47e20;
	z-index: 9;
}
  .pagination-space {
	height: 62px;
}
  
  .swiper-button-prev, .swiper-button-next {
	border: none;
	font-size: 0;
	height: 70px;
	position: absolute;
	top: 45%;
	transform: translateY(-45%);
	z-index: 999;
	min-width: 35px;
}
  
  .swiper-button-prev  { 
	background: url(https://44262723.fs1.hubspotusercontent-na1.net/hubfs/44262723/Arrow%20left.png) no-repeat;
	left: 0;
     {% if html_lang_dir == 'dir="rtl"' %}
   right: auto !important;
       
    {% endif %}
}
  
   .swiper-button-next  { 
background: url(https://44262723.fs1.hubspotusercontent-na1.net/hubfs/44262723/Arrow%20left-1.png) no-repeat;
	right: 0;
}
  .swiper-button-next::after,  .swiper-button-prev::after {
    content:none;
}

    @media(min-width: 768px) and (max-width: 991px){
      .itt-reviews .inner{
        padding: 25px;
      }
      .itt-reviews .swiper-slide.swiper-slide-next h2{
        font-size: 22px;
      }
      .right-quote {
        bottom: 9%;
        position: absolute;
        right: 35%;
      }
      .left-quote {
        left: 36%;
        position: absolute;
        top: -1%;
      }
      .left-quote img,
      .right-quote img {
        width: 100%;
      }
    }

    @media(max-width: 767px){
      .swiper-button-prev {
	background: url(https://44262723.fs1.hubspotusercontent-na1.net/hubfs/44262723/Arrow%20left-2.png) no-repeat;
	left: 10px;
}
     .swiper-button-next {
	background: url(https://44262723.fs1.hubspotusercontent-na1.net/hubfs/44262723/Arrow%20left-1-1.png) no-repeat;
	right: 10px;
}
      .swiper-slide.swiper-slide-next {
	opacity: 0;
}
      .itt-reviews .inner {
 
	transform: scale(1);
}
     .main .swiper {
	padding: 20px 25px;
	max-width: 100%;
}
    .itt-reviews .main .itt-desc p {
	font-size: 16px;
}
     .itt-reviews .main h4 { 
	font-size: 12px;
}
     .itt-reviews .main h5 { 
	font-size: 16px;
       font-family: "Montserrat",sans-serif;
}
      .itt-reviews .swiper-slide.swiper-slide-next .itt-desc {
        font-size: 14px;
      }
      .itt-reviews .swiper-slide.swiper-slide-next h4 {
        font-size: 12px;
      }
      .itt-reviews .swiper-slide.swiper-slide-next h2 {
        font-size: 16px;
      }
       .itt-reviews .main h2 { 
	font-size: 16px;
	color: #f47e20;
         font-family: "Montserrat",sans-serif;
}
      .itt-reviews .inner{
        padding: 25px;
        margin: 10px;
        min-height: 430px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .slick-list{
        width: 100%;
      }
      .left-quote {
        left: 4%;
        position: absolute;
        top: 1%;
      }
      .left-quote img,
      .right-quote img {
        width: 100%;
      }
      .right-quote {
        bottom: 20%;
        position: absolute;
        right: 3%;
        bottom: 66px;
      }
      .slick-prev.slick-arrow{
        background: url({{ module_asset_url("Arrow%20left-2.png") }}) no-repeat;
        background-position: left;
    /*     left: -28px; */
        left: 0px;
      }
      .slick-next.slick-arrow {
        background: url({{ module_asset_url("Arrow%20left-1-1.png") }}) no-repeat;
        background-position: right;
      /* right: -28px; */
        right:0px;
      }
    }

    @media (min-width: 1199px) {
      .itt-reviews  .inner {
      min-height: 350px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      }

      .itt-reviews  .swiper-slide.swiper-slide-next .inner {
          min-height: 484px;
          padding: 40px;
      }
    }
  

 
         {% end_scope_css %}
</style>
{% end_require_css %}

<!----- itt-reviews starts ----->
<div class="itt-reviews">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main">
           <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        {% for item in module.testimonial %}
         <div class="swiper-slide">
            <div class="slide-content">
              <div class="inner">
                <div class="itt-desc">{{ item.content }}</div>
                <div>
                  <h4>{{ item.client_name }}</h4>
                  {% if item.company_name %}
                  <h5>{{ item.company_name }}</h5>
                  {% endif %}
                  <h2>{{ item.company_address }}</h2>
                </div>
              </div>
            </div>
            </div>  
{% endfor %}
        
       
         
      </div>
      <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
              <div class="pagination-space">
            
          </div>
    </div>
         
        </div>

        <div class="left-quote">
          {% if module.left_quote.src %} {% set sizeAttrs = 'width="{{
          module.left_quote.width }}" height="{{ module.left_quote.height }}"'
          %} {% if module.left_quote.size_type == 'auto' %} {% set sizeAttrs =
          'width="{{ module.left_quote.width }}" height="{{
          module.left_quote.height }}" style="max-width: 100%; height: auto;"'
          %} {% elif module.left_quote.size_type == 'auto_custom_max' %} {% set
          sizeAttrs = 'width="{{ module.left_quote.max_width }}" height="{{
          module.left_quote.max_height }}" style="max-width: 100%; height:
          auto;"' %} {% endif %} {% set loadingAttr = module.left_quote.loading
          != 'disabled' ? 'loading="{{ module.left_quote.loading }}"' : '' %}
          <img
            src="{{ module.left_quote.src }}"
            alt="{{ module.left_quote.alt }}"
            {{
            loadingAttr
            }}
            {{
            sizeAttrs
            }}
          />
          {% endif %}
        </div>

        <div class="right-quote">
          {% if module.right_quote.src %} {% set sizeAttrs = 'width="{{
          module.right_quote.width }}" height="{{ module.right_quote.height }}"'
          %} {% if module.right_quote.size_type == 'auto' %} {% set sizeAttrs =
          'width="{{ module.right_quote.width }}" height="{{
          module.right_quote.height }}" style="max-width: 100%; height: auto;"'
          %} {% elif module.right_quote.size_type == 'auto_custom_max' %} {% set
          sizeAttrs = 'width="{{ module.right_quote.max_width }}" height="{{
          module.right_quote.max_height }}" style="max-width: 100%; height:
          auto;"' %} {% endif %} {% set loadingAttr = module.right_quote.loading
          != 'disabled' ? 'loading="{{ module.right_quote.loading }}"' : '' %}
          <img
            src="{{ module.right_quote.src }}"
            alt="{{ module.right_quote.alt }}"
            {{
            loadingAttr
            }}
            {{
            sizeAttrs
            }}
          />
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" ></script>
     <script >
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
         navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
        autoplay: {
          delay: 5000,  
          disableOnInteraction: false,  
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      breakpoints: {
        767: {
          slidesPerView: 1,
          spaceBetween: 0,
        },
        768: {
          slidesPerView: 3,
          spaceBetween: 0,
        },
        992: {
          slidesPerView: 3,
          spaceBetween: 0,
        },
      },
      });
    </script>