<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
    {% dnd_area "footer" label="Footer", class="footer__container content-wrapper"
    %} {% end_dnd_area %}
    <!-- Main footer starts -->
    <section class="main-footer-section">
      <div class="container">
        <!-- 1 row -->
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="itt-footer-info">
              <div class="itt-footer-logo">
                <img
                  src="{{ get_asset_url('../../images/ITT-footer-logo.svg') }}"
                />
              </div>
              <div class="itt-footer-para">
                <div class="footer-text-p">
                  In Time Tec is an award-winning software development and IT
                  company with offices in the US, Netherlands, Saudi Arabia, UAE, India, Australia, South Korea and Colombia.
                </div>
              </div>
            </div>
            <div class="bottom-sub-link">
              <ul class="link-list">
                <li><a href="https://www.intimetec.com/contact-us">Contact Us</a></li>
                <li><a href="https://www.intimetec.com/privacy-policy">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="itt-footer-links desktop">
              <!-- Links Columns -->
              <div class="footer-links-col">
                <h5 class="footer-links-title">Services</h5>
                <ul>
                  <li><a href="https://www.intimetec.com/core-development">Core Development</a></li>
                  <li><a href="https://www.intimetec.com/data">Data</a></li>
                  <li><a href="https://www.intimetec.com/qa-ta">QA/TA</a></li>
                  <li><a href="https://www.intimetec.com/ux-ui">UX/UI</a></li>
                  <li><a href="https://www.intimetec.com/cybersecurity">Cybersecurity</a></li>
                  <li><a href="https://www.intimetec.com/business-services">Business Services</a></li>
                </ul>
              </div>
  
              <!-- Links Columns -->
              <div class="footer-links-col">
                <h5 class="footer-links-title">About Us</h5>
                <ul>
                  <li><a href="https://www.intimetec.com/our-story">Our Story</a></li>
                  <li><a href="https://www.intimetec.com/our-story/#scrollToValueSection">Our Values</a></li>
                  <li><a href="https://www.intimetec.com/certifications">Certifications</a></li>
                  <li><a href="https://www.intimetec.com/careers">Careers</a></li>
                </ul>
              </div>
  
              <!-- Links Columns -->
              <div class="footer-links-col">
                <h5 class="footer-links-title">Resources</h5>
                <ul>
                  <li><a href="https://blog.intimetec.com/">Blogs</a></li>
                  <li><a href="https://www.intimetec.com/books">Books</a></li>
                  <li><a href="https://www.intimetec.com/digital-downloads/#digital-downloads-case-studies">Case Studies</a></li>
                  <li><a href="https://www.intimetec.com/digital-downloads">Digital Downloads</a></li>
                </ul>               
              </div>
            </div>
  
            <!-- Mobile Footer Links -->
            <div class="itt-footer-links mobile">
              <div class="navbar-collapse">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown dropdown-mega">
                    <a
                      class="nav-link dropdown-toggle"
                      href="https://www.intimetec.com/our-services"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      >Our Services <i class="bi bi-chevron-down icon-toggle"></i
                    ></a>
                    <div class="dropdown-menu">
                      <div class="mega-content nav-tab-content">
                        <!-- Links starts -->
                        <div class="tab-content accordion">
                          <div
                            class="tab-pane fade show active accordion-item"
                            id="cd-tab-pane"
                            role="tabpanel"
                            aria-labelledby="cd-tab"
                            tabindex="0"
                          >
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/core-development" class="tab-link-xs"
                                >Core Development</a
                              >
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/data" class="tab-link-xs">Data</a>
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/qa-ta" class="tab-link-xs">QA/TA</a>
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/ux-ui" class="tab-link-xs">UX/UI</a>
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/cybersecurity" class="tab-link-xs"
                                >Cybersecurity</a
                              >
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/business-services" class="tab-link-xs"
                                >Business Services</a
                              >
                            </h2>
                          </div>
                        </div>
                        <!-- Links Ends -->
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown-mega">
                    <a
                      class="nav-link dropdown-toggle"
                      href="https://www.intimetec.com/about-us"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      >About Us <i class="bi bi-chevron-down icon-toggle"></i
                    ></a>
                    <div class="dropdown-menu">
                      <div class="mega-content nav-tab-content">
                        <!-- Links starts -->
                        <div class="tab-content accordion">
                          <div
                            class="tab-pane fade show active accordion-item"
                            tabindex="0"
                          >
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/our-story" class="tab-link-xs"
                                >Our Story</a
                              >
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/our-story/#scrollToValueSection" class="tab-link-xs"
                                >Our Values</a
                              >
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/certifications" class="tab-link-xs"
                                >Certifications</a
                              >
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/careers" class="tab-link-xs">Careers</a>
                            </h2>
                          </div>
                        </div>
                        <!-- Links Ends -->
                      </div>
                    </div>
                  </li>
                  <li class="nav-item dropdown dropdown-mega">
                    <a
                      class="nav-link dropdown-toggle"
                      href="https://www.intimetec.com/resources"
                      data-bs-toggle="dropdown"
                      data-bs-auto-close="outside"
                      >Resources <i class="bi bi-chevron-down icon-toggle"></i
                    ></a>
                    <div class="dropdown-menu">
                      <div class="mega-content nav-tab-content">
                        <!-- Links starts -->
                        <div class="tab-content accordion">
                          <div
                            class="tab-pane fade show active accordion-item"
                            tabindex="0"
                          >
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://blog.intimetec.com/" class="tab-link-xs">Blogs</a>
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/books" class="tab-link-xs">Books</a>
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                             <a href="https://www.intimetec.com/digital-downloads/#digital-downloads-case-studies" class="tab-link-xs">Case Studies</a>
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                            <h2 class="accordion-header d-xl-none">
                              <a href="https://www.intimetec.com/digital-downloads" class="tab-link-xs">Digital Downloads</a>
                            </h2>
                          </div>
                          <div class="tab-pane fade accordion-item" tabindex="0">
                          <h2 class="accordion-header d-xl-none">
                            <a href="https://www.intimetec.com/privacy-policy" class="tab-link-xs">Privacy Policy</a>
                          </h2>
                        </div>
                        </div>
                        <!-- Links Ends -->
                      </div>
                    </div>
                  </li>   
                  
                  <li class="nav-item dropdown dropdown-mega">
                    <a
                      class="nav-link dropdown-toggle"
                      href="https://www.intimetec.com/contact-us"                   
                    >Contact Us</a>                  
                </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <!-- 2 row -->
        <div class="row">
          <div class="col-xl-6 col-12">
            <div class="itt-footer-awards">
              <img src="{{ get_asset_url('../../images/award-footer.png') }}" />
            </div>
          </div>
  
          <div class="col-xl-6 col-12">
            <div class="itt-footer-products">
              <h5 class="footer-products-title">Our products</h5>
              <ul class="footer-products-list">
                <li>
                  <a href="https://www.cartosmps.com/" target="_blank"
                    ><img src={{
                    get_asset_url('../../images/cartos-img-footer.svg') }}></a
                  >
                </li>
                <li>
                  <a href="https://www.intimetec.com/our-products/#hs_cos_wrapper_widget_1700809712167"
                    ><img src={{
                    get_asset_url('../../images/workpath-img-footer.png') }}></a
                  >
                </li>
                <li>
                  <a href="https://www.nextgenagtech.com/" target="_blank"
                    ><img src={{ get_asset_url('../../images/ngat-img-footer.svg')
                    }}></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- 3 row -->
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="itt-footer-social-links">
              <ul>
                <li>
                  <a
                    href="https://www.linkedin.com/company/in-time-tec"
                    target="_blank"
                    ><i class="bi bi-linkedin"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/intimetec_/" target="_blank"
                    ><i class="bi bi-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="https://www.facebook.com/InTimeTec/" target="_blank"
                    ><i class="bi bi-facebook"></i
                  ></a>
                </li>
                <li>
                  <a
                    href="https://www.youtube.com/@InTimeTecCreatingAbundance"
                    target="_blank"
                    ><i class="bi bi-youtube"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-12">
            <div class="itt-footer-copyright-text">
              Copyright © 2024 In Time Tec, LLC All rights reserved.
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Main footer ends -->
  </footer
    
   
  