<!--
templateType: page
isAvailableForNewContent: true
label: Demo Header Test Page
-->

{# Version: 2026.06.09 #}
{# Purpose: Test template for my demo header module rendered as global partial #}

{% include '../templates/header.html' %}

<body class="smithworks sw-itt-header demo-header-test {{ builtin_body_classes }}">

  {% block header %}
    {% global_partial path="../sw-partials/sw-site_header-demo.html" %}
  {% endblock header %}

  {% block body %}
    {% dnd_area "body_dnd_area" label="Main Content Area" class="body-container", margin={ "top": 0, "bottom": 0 } %}

      {% dnd_section
        padding={ "left": 25, "right": 25, "top": 50, "bottom": 50 },
        max_width=1800,
        max_width_unit="px",
        full_width=false
      %}
        {% dnd_column %}
          {% dnd_row %}
            {% dnd_module
              path="@hubspot/rich_text",
              label="Page Content",
              html="<h1>Demo Header Test Page</h1><p>This page uses the 'my demo header' module rendered as a global partial. The mega menu dropdowns should work correctly because the header is not wrapped in DnD containers.</p>"
            %}
            {% end_dnd_module %}
          {% end_dnd_row %}
        {% end_dnd_column %}
      {% end_dnd_section %}

    {% end_dnd_area %}
  {% endblock body %}

  {% block footer %}
    {% boolean "enabled_site_footer" label='Enable Global Site Footer', value=true, export_to_template_context=True %}
    {% if widget_data.enabled_site_footer.value %}
      {% global_partial path="../sw-partials/sw-site_footer.html" %}
    {% endif %}
  {% endblock footer %}

  {% include '../templates/footer-includes.html' %}
</body>

</html>
