{% require_css %}
  <style>
    {% scope_css %}
      .itt-share-links a{
        margin-right: 15px;
      }
      .itt-share-links {
        box-shadow: 0px 0px 12px 0px #E8E5E5;
        border-radius: 20px;
        padding: 20px;
        margin-top: 32px;
      }
      .itt-share-links p{
        font-size: 16px;
        font-weight: 700;
        color: #534C4C;
      }
    {% end_scope_css %}
  </style>
{% end_require_css %}

<div class="itt-share-links">
  <div class="inner">
    <p>{{ module.text_field }}</p>
    {% for item in module.field %}	
      {% set href = item.link_field.url.href %}
      {% if item.link_field.url.type is equalto "EMAIL_ADDRESS" %}
        {% set href = "mailto:" + href %}
      {% endif %}
      <a href="{{ href }}"
        {% if item.link_field.open_in_new_tab %}target="_blank"{% endif %}
        {% if item.link_field.rel %}rel="{{ item.link_field.rel }}"{% endif %}
        >
        {% if item.image_field.src %}
        {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
        {% if item.image_field.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif item.image_field.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
         {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
        <img src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
      </a>
    {% endfor %}
  </div>
</div>