{% require_css %}
  <style>
    {% scope_css %}
        span.ityped-cursor {
      font-weight: 100 !important;
      margin-right: 10px;
      }
        .ityped{
          color:{{ module.style.animation_text.color_field.color }} ;
          font-size:{{ module.style.animation_text.font_size }}px;
          font-family: 'Menlo'; 
          }       
        .itt-career-image-grid h4{
          color: #211E1E;
          width: 60%;
          font-size: 28px;
          font-weight: 700;
          margin-top: 32px;
        }
        .itt-career-image-grid .inner{
          display: flex;
        }
        .itt-career-image-grid .inner .img-sec{
          width: 20%;
          margin-top: 50px;
        }
        .itt-career-image-grid .bottom-text p{
          font-size: 16px;
          color: #211E1E;
          font-weight: 500;
          margin: 20px 0 0;
          width: 50%;
        }
        .itt-career-image-grid .right-img {
          position: absolute;
          top: 110px;
          right: 0;
        }
        .itt-career-image-grid .right-mob-img{
          display: none;
        }
    
        @media (max-width: 767px) {
          .text-before{display:block;}
          .itt-career-image-grid h4 {
            font-size: 18px;
            width: 100%;
          }
          span.ityped { 
            min-height: 50px;
          }
          .itt-career-image-grid .inner{
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
          }
          .itt-career-image-grid .inner .img-sec {
            width: 50%;
            margin-bottom: 0px;
            padding: 8px;
            margin-top: 0px;
          }
          .itt-career-image-grid .bottom-text p{
            width: 100%;
          }
          .itt-career-image-grid .right-img{
            display: none;
          }
          .itt-career-image-grid .right-mob-img{
            display: block;
            text-align: right;
          }
          .itt-career-image-grid .right-mob-img img{
            width: 90%;
          }
        }
    
        @media(min-width: 768px) and (max-width: 991px){
          .itt-title-h1 {
             font-size: 48px;
          }
          .itt-career-image-grid h4 {
            font-size: 24px;
          }
          .itt-career-image-grid .inner{
              width: 80%;
              justify-content: space-between;
              margin-top: 24px;
          }
          .itt-career-image-grid .inner .img-sec{
            padding-right: 10px;
          }
          .itt-career-image-grid .right-img{
            top: 28px;
            text-align: right;
          }
          .itt-career-image-grid .right-img img{
            max-width: 70% !important;
          }
          .itt-career-image-grid .bottom-text p{
            width: 70%;
          }
          .itt-career-image-grid .itt-title-h1 .text-before{
            display: block;
          }
        }
    
        @media(min-width: 992px) and (max-width: 1450px){
          .itt-career-image-grid .inner{
            width: 72%;
          }
          .itt-career-image-grid .inner .img-sec{
            padding-right: 10px;
          }
          .itt-career-image-grid .right-img{
            top: 140px;
            text-align: right;
          }
          
        }
    {% end_scope_css %}
  </style>
{% end_require_css %}

<section class="itt-career-image-grid">
  <div class="container">
    <div class="title-heading">
      <h1 class="mb-2 itt-title-h1">
        <span class="text-before">{{ module.animation_title_before }}</span> <span class="me-2 ityped"> </span>
      </h1>
      <div class="right-mob-img">
        {% if module.right_image.src %}
          {% set sizeAttrs = 'width="{{ module.right_image.width }}" height="{{ module.right_image.height }}"' %}
          {% if module.right_image.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.right_image.width }}" height="{{ module.right_image.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.right_image.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.right_image.max_width }}" height="{{ module.right_image.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.right_image.loading != 'disabled' ? 'loading="{{ module.right_image.loading }}"' : '' %}
          <img src="{{ module.right_image.src }}" alt="{{ module.right_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <h4 class="mb-0">{{ module.hero_subheading }}</h4> 
      <script src="https://unpkg.com/ityped@0.0.10"></script>
      <script> 
        window.ityped.init(document.querySelector('.ityped'),{
          strings: [{% for item in module.hero_animation_text %} '{{ item }}'{% if loop.last %}{% else %},{% endif %}{% endfor %}],
          loop: true
        })
      </script> 
    </div>
    
    <div class="inner">
      <div class="img-sec">
        {% if module.image_field.src %}
          {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}"' %}
          {% if module.image_field.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.image_field.width }}" height="{{ module.image_field.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.image_field.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_field.max_width }}" height="{{ module.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.image_field.loading != 'disabled' ? 'loading="{{ module.image_field.loading }}"' : '' %}
          <img src="{{ module.image_field.src }}" alt="{{ module.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="img-sec">
        {% if module.image_1.src %}
          {% set sizeAttrs = 'width="{{ module.image_1.width }}" height="{{ module.image_1.height }}"' %}
          {% if module.image_1.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.image_1.width }}" height="{{ module.image_1.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.image_1.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_1.max_width }}" height="{{ module.image_1.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.image_1.loading != 'disabled' ? 'loading="{{ module.image_1.loading }}"' : '' %}
          <img src="{{ module.image_1.src }}" alt="{{ module.image_1.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="img-sec">
        {% if module.image_2.src %}
          {% set sizeAttrs = 'width="{{ module.image_2.width }}" height="{{ module.image_2.height }}"' %}
          {% if module.image_2.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.image_2.width }}" height="{{ module.image_2.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.image_2.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_2.max_width }}" height="{{ module.image_2.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.image_2.loading != 'disabled' ? 'loading="{{ module.image_2.loading }}"' : '' %}
          <img src="{{ module.image_2.src }}" alt="{{ module.image_2.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
      <div class="img-sec">
        {% if module.image_3.src %}
          {% set sizeAttrs = 'width="{{ module.image_3.width }}" height="{{ module.image_3.height }}"' %}
          {% if module.image_3.size_type == 'auto' %}
            {% set sizeAttrs = 'width="{{ module.image_3.width }}" height="{{ module.image_3.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.image_3.size_type == 'auto_custom_max' %}
            {% set sizeAttrs = 'width="{{ module.image_3.max_width }}" height="{{ module.image_3.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
           {% set loadingAttr = module.image_3.loading != 'disabled' ? 'loading="{{ module.image_3.loading }}"' : '' %}
          <img src="{{ module.image_3.src }}" alt="{{ module.image_3.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        {% endif %}
      </div>
    </div>
    <div class="bottom-text">
      <p>{{ module.richtext_field }}</p>
    </div>
    
    <div class="right-img">
      {% if module.right_image.src %}
        {% set sizeAttrs = 'width="{{ module.right_image.width }}" height="{{ module.right_image.height }}"' %}
        {% if module.right_image.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.right_image.width }}" height="{{ module.right_image.height }}" style="max-width: 100%; height: auto;"' %}
        {% elif module.right_image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.right_image.max_width }}" height="{{ module.right_image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
         {% set loadingAttr = module.right_image.loading != 'disabled' ? 'loading="{{ module.right_image.loading }}"' : '' %}
        <img src="{{ module.right_image.src }}" alt="{{ module.right_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </div>
  </div>
</section>  