<!--
  templateType: email_backup_unsubscribe_page
  isAvailableForNewContent: true
  label: Boilerplate - email backup unsubscribe
  screenshotPath: ../../images/template-previews/backup-unsubscribe.png
-->
{% set template_css = "../../css/templates/system.css" %}
{% extends "../layouts/sub-domain-base.html" %}
{# pageTitle is used on system templates for setting a value for the title tag #}
{% set pageTitle = "Unsubscribe" %}

{% block body %}
<section class="content-wrapper">
  <div class="systems-page">
     {% module "module_17140253709647" extra_classes="backup-unsubscribe", path="/ITT-New-Theme_2023/modules/ITT_email_simple_subscription", label="ITT_email_simple_subscription" %}
  </div>
</section>
{% endblock body %}
